<div class="right-section">

    <div class="padding-0-1">
        <app-search-people></app-search-people>
    </div>

    <ng-container *ngIf="showSignIn; else avatarCircle">
        <div class="sign-in" *ngIf="showSignIn">
            <button (click)="showSignInDialog = true;">Sign in</button>
        </div>
    </ng-container>
    <ng-template #avatarCircle>
        <app-user-profile [loggedInUser]="loggedInUser"></app-user-profile>
    </ng-template>
</div>


<app-user *ngIf="showSignInDialog" (userLoginEvent)="userLoginEvent($event)"
    (closePanelEmitter)="showSignInDialog = false">
</app-user>