.profile-view-wrapper {
    width: 20rem;
    height: 80vh;
    background-color: white;
    padding: 0.5em;
    border-radius: 1rem;
    .image-section {
        display: flex;
        justify-content: center;
    }
    img {
        border-radius: 50%;
        cursor: pointer;
    }
    .image-xl {
        height: 7em;
        width: 7em;
    }

    .friends-info-section {
        height: 70%;
        overflow-y: auto;
        background-color: beige;
        border-radius: 1rem;
    }
}