.profile-view-wrapper {
    width: 20rem;
    height: 80vh;
    background-color: white;
    padding: 0.5em;
    border-radius: 1rem;
    .image-section {
        display: flex;
        justify-content: center;
    }
    img {
        border-radius: 50%;
        transition: 500ms;
    }
    .image-xl {
        height: 7em;
        width: 7em;
    }
    .img-div {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .img-div:hover > img {
        opacity: 0.5;
    }
    .img-overlay {
        position: absolute;
        visibility: hidden;
    }
    .img-div:hover > .img-overlay {
        visibility: visible;
    }
    .file-input {
        display: none;
    }

    .friends-info-section {
        height: 70%;
        overflow-y: auto;
        background-color: beige;
        border-radius: 1rem;
    }
}