<div class="profile-view-wrapper" *ngIf="user">
    <section class="image-section">
        <label class="img-div" for="img">
            <input type="file" id="img" name="img" accept="image/*" class="file-input" #imgRef (change)="uploadPicture(imgRef)">
            <img class="image-xl img-hover" [src]="avatarUrl" [alt]="user.name"
            (click)="goToUserLocation(user)">
            <span class="material-symbols-outlined img-overlay">
                photo_camera
            </span>
        </label>
    </section>

    <section class="general-info-section">
        <p>{{ user.name }}</p>
    </section>

    <section class="friends-info-section">
        <app-friends-info [userMetadata]="userMetadata" [friends]="friends" [friendRequests]="friendRequests"
            [sentFriendRequests]="sentFriendRequests">
        </app-friends-info>

    </section>

</div>