<div class="profile-view-wrapper" *ngIf="user">
    <section class="image-section">
        <img class="image-xl" 
            [src]="supabase.getPublicImageUrl(user._id)" 
            [alt]="user.name"
            (click)="goToUserLocation(user)">
    </section>

    <section class="general-info-section">
        <p>{{ user.name }}</p>
    </section>

    <section class="friends-info-section">
        <app-friends-info
            [userMetadata]="userMetadata"
            [friends]="friends"
            [friendRequests]="friendRequests"
            [sentFriendRequests]="sentFriendRequests"
            >
        </app-friends-info>
        
    </section>

</div>